body {
  background-color: #87CEFA; /* fond global bleu clair */
  font-family: Arial, sans-serif;
  color: #222;
  margin: 0;
  padding: 15px;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #87CEFA; /* bande titre bleu clair */
  border-bottom: 3px solid #007bff;
}

header h1 {
  font-size: 28px;
  color: #007bff;
  margin: 0;
  padding: 10px 0;
}
